/*reset css*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}


/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }


body {
  
/*  margin: 10px;*/
}

/* Syntax Css from https://gist.github.com/1125708 */
.highlight  { background: #4E5052; background: rgba(0,0,0,.50); overflow-x:auto;margin-bottom: 10px;}
.hll { background-color: #ffffcc }
.c { color: #586E75 } /* Comment */
.err { color: #93A1A1 } /* Error */
.g { color: #93A1A1 } /* Generic */
.k { color: #859900 } /* Keyword */
.l { color: #93A1A1 } /* Literal */
.n { color: #93A1A1 } /* Name */
.o { color: #859900 } /* Operator */
.x { color: #CB4B16 } /* Other */
.p { color: #93A1A1 } /* Punctuation */
.cm { color: #586E75 } /* Comment.Multiline */
.cp { color: #859900 } /* Comment.Preproc */
.c1 { color: #586E75 } /* Comment.Single */
.cs { color: #859900 } /* Comment.Special */
.gd { color: #2AA198 } /* Generic.Deleted */
.ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.gr { color: #DC322F } /* Generic.Error */
.gh { color: #CB4B16 } /* Generic.Heading */
.gi { color: #859900 } /* Generic.Inserted */
.go { color: #93A1A1 } /* Generic.Output */
.gp { color: #93A1A1 } /* Generic.Prompt */
.gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.gu { color: #CB4B16 } /* Generic.Subheading */
.gt { color: #93A1A1 } /* Generic.Traceback */
.kc { color: #CB4B16 } /* Keyword.Constant */
.kd { color: #268BD2 } /* Keyword.Declaration */
.kn { color: #859900 } /* Keyword.Namespace */
.kp { color: #859900 } /* Keyword.Pseudo */
.kr { color: #268BD2 } /* Keyword.Reserved */
.kt { color: #DC322F } /* Keyword.Type */
.ld { color: #93A1A1 } /* Literal.Date */
.m { color: #2AA198 } /* Literal.Number */
.s { color: #2AA198 } /* Literal.String */
.na { color: #93A1A1 } /* Name.Attribute */
.nb { color: #B58900 } /* Name.Builtin */
.nc { color: #268BD2 } /* Name.Class */
.no { color: #CB4B16 } /* Name.Constant */
.nd { color: #268BD2 } /* Name.Decorator */
.ni { color: #CB4B16 } /* Name.Entity */
.ne { color: #CB4B16 } /* Name.Exception */
.nf { color: #268BD2 } /* Name.Function */
.nl { color: #93A1A1 } /* Name.Label */
.nn { color: #93A1A1 } /* Name.Namespace */
.nx { color: #93A1A1 } /* Name.Other */
.py { color: #93A1A1 } /* Name.Property */
.nt { color: #268BD2 } /* Name.Tag */
.nv { color: #268BD2 } /* Name.Variable */
.ow { color: #859900 } /* Operator.Word */
.w { color: #93A1A1 } /* Text.Whitespace */
.mf { color: #2AA198 } /* Literal.Number.Float */
.mh { color: #2AA198 } /* Literal.Number.Hex */
.mi { color: #2AA198 } /* Literal.Number.Integer */
.mo { color: #2AA198 } /* Literal.Number.Oct */
.sb { color: #586E75 } /* Literal.String.Backtick */
.sc { color: #2AA198 } /* Literal.String.Char */
.sd { color: #93A1A1 } /* Literal.String.Doc */
.s2 { color: #2AA198 } /* Literal.String.Double */
.se { color: #CB4B16 } /* Literal.String.Escape */
.sh { color: #93A1A1 } /* Literal.String.Heredoc */
.si { color: #2AA198 } /* Literal.String.Interpol */
.sx { color: #2AA198 } /* Literal.String.Other */
.sr { color: #DC322F } /* Literal.String.Regex */
.s1 { color: #2AA198 } /* Literal.String.Single */
.ss { color: #2AA198 } /* Literal.String.Symbol */
.bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.vc { color: #268BD2 } /* Name.Variable.Class */
.vg { color: #268BD2 } /* Name.Variable.Global */
.vi { color: #268BD2 } /* Name.Variable.Instance */
.il { color: #2AA198 } /* Literal.Number.Integer.Long */

/*
http://code.google.com/p/better-web-readability-project/
Copyright (c) vladocar

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
body { font:1em/1.625em "lucida grande","lucida sans unicode", sans-serif; background-color:#A8A49E;  
background-image: url('/images/lightbg.jpg');
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#000;
}

p { padding:0 0  0.8125em 0; color:#000; font-weight:100;
  font-family: Corbel,
               "Lucida Grande",
               "Lucida Sans Unicode",
               "Lucida Sans",
               "DejaVu Sans",
               "Bitstream Vera Sans",
               "Liberation Sans",
               Verdana,
               sans-serif; }

p + p { text-indent:0;}

p.first:first-letter{ float:left;font-family: baskerville,"palatino linotype",serif;font-size:3em;font-weight:700;line-height:1em;margin-bottom:-0.2em;padding:0.2em 0.1em 0 0; }
p img       { float: left; margin: 0.5em 0.8125em 0.8125em 0; padding: 0; }
p img.right { float: right; margin: 0.5em  0 0.8125em 0.8125em }


h1,h2{ font-weight:normal; color: #333; font-family:Helvetica, Arial, sans-serif;margin-top:0.855em;;  }
h3,h4,h5,h6 { font-weight: normal; color: #333; font-family:Helvetica, Arial, sans-serif;; }


h1 { font-size: 2.125em; margin-bottom: 0.765em; }
h2 { font-size: 1.3em;  margin-bottom: 0.855em; }
h3 { font-size: 1.2em;  margin-bottom: 0.956em; }
h4 { font-size: 1.1em;  margin-bottom: 1.161em; }
h5,h6 { font-size: 1.013em;  margin-bottom: 1.238em; }



ul{list-style-position:outside;}
li ul, 
li ol  { margin:0 1.625em;  }
ul, ol { margin: 0 0 1.625em 0; }


dl { margin: 0 0 1.625em 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.625em; }

a { color:#213447; text-decoration:underline; }
a:hover { text-decoration: none; }


table { margin-bottom:1.625em; border-collapse: collapse; }
th { font-weight:bold; }
tr,th,td { margin:0; padding:0 1.625em 0 1em; height:26px; }
tfoot { font-style: italic; }
caption { text-align:center; font-family:Georgia, serif; }


abbr, acronym { border-bottom:1px dotted #000; }
address { margin-top:1.625em; font-style: italic; }
del {color:#000;}


blockquote { padding:1em 1em 1.625em 1em; font-family:georgia,serif;font-style: italic;  }
blockquote:before { content:"\201C";font-size:3em;margin-left:-.625em; font-family:georgia,serif;color:#aaa;line-height:0;}/* From Tripoli  */
blockquote > p {padding:0; margin:0; }

strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.625em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } 
tt { display: block; margin: 1.625em 0; }
hr { margin-bottom:1.625em; }



.oldbook { font-family:"Warnock Pro","Goudy Old Style","Book Antiqua","Palatino",Georgia,serif; }
.note { font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-size:0.9em; margin:0.1em; color:#333; } 
.mono { font-family:"Courier New", Courier, monospace; }




/* SUPERFISH STYLESHEET ---------------------------------- */
.sf-menu, .sf-menu * { margin:0; padding:0; list-style:none }
/*.sf-menu { line-height:1.0 }*/
.sf-menu ul { position:absolute; top:-999em; width:12em }
.sf-menu ul li { width:100% }

/* fixes IE7 'sticky bug' */
.sf-menu li:hover { visibility:inherit }

.sf-menu li { float:left; position:relative }
.sf-menu a { display:block; position:relative }

.sf-menu li:hover ul,
.sf-menu li.sfHover ul { left:0; top:2.4em; /* match top ul list item height */ z-index:99 }

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul { top:-999em }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul { left:12em; top:-0.1em }

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul { top:-999em }

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul { left:12em; top:-0.1em }

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}


/*Site Style Sheet*/

h2 {
  color: #333;
}
h3{
  font-size: 1.4em;
  margin-top: 25px;
  color: #353637;
}

#container {  margin:0 auto;  width:600px;   }
#main{
  clear: both;
  padding-top: 10px;
}
#logo {
  float:left;
}

#categories_menu {
	position:relative;
	z-index:15;
	top:55px;
	float: left;
}
#categories_menu ul li {
	margin-right:15px;
}
#categories_menu ul li a {
	color:#B2B5B8;
	font-size:22px;
	text-decoration:none;
	padding:0 5px;
}
#categories_menu ul li.current-cat a, #categories_menu ul li.current-cat-parent a, #categories_menu ul.children li.current-cat a {
	color:#243649;
}

#categories_menu ul.children li {
	background-color:#ffffff;
}
#categories_menu ul.children li a {
	font-size:20px;
	color:#B2B5B8;
}

#pagination {
	display:block;
	text-align:left;
	height:22px;
	line-height:21px;
	clear:both;
	padding-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:center;
}
 
#pagination a:link, #pagination a:visited{
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #676A6D;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#243649;
	width:22px;
	font-weight:normal;
}
 
#pagination a:hover {
	background-color:#B0B4B8;
	border:1px solid #243649;
	color:#243649;	
}
 
#pagination .active_link {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	margin-left:10px;
	text-decoration:none;
	background-color:#B0B4B8;
	color:#243649;
	cursor:default;
}
 
#pagination .disabled_pagination {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #676A6D;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
}

.small{
  color: #B2B5B8;
  font-size: 0.6em;
  text-align: center;
}

#footer{
    margin: 25px 0px 10px 0px;
}

.badge{
  height: 32px;
  margin: 10px 0;
}

.headerWrapper {
  background-color:#676A6D;  
  background-image: url('/images/linen.jpg');
  width: 100%;
  float: left;
  height: 90px;
  border-bottom: 1px solid #4E5052;
  -moz-box-shadow: 1px 3px 10px #4E5052;
  -webkit-box-shadow: 1px 3px 10px #4E5052;
  box-shadow: 1px 3px 10px #4E5052;
}

#header
{
   margin:0 auto;  width:600px;
}

img.shadow{
  -moz-box-shadow: 5px 5px 5px #4E5052;
  -webkit-box-shadow: 5px 5px 5px #4E5052;
  box-shadow: 5px 5px 5px #4E5052;
}

img {
  max-width: 600px;
}

.post p img {
  max-width: 300px;
}

.post{
  clear: both;
}

h2 {
  clear: both;
}

h5, h6 {
font-size: 1.05em;
margin-bottom: 0.1em;
}