<div id="layout" class="pure-g">
  <div class="content pure-u-1">
    <h1>About</h1>
    <div class="user-profile">
      <p><span class="user-card-bio RichContent">web developer for fun<br>formerly a software engineer for over a decade<br>not sure what i am now 🤷‍♂️<br></span></p>
      <div class="user-profile-fields">
        <dl class="user-profile-field">
          <dt title="Pronouns" class="user-profile-field-name"><span class="RichContent">Pronouns</span></dt> 
            <dd title="he/him" class="user-profile-field-value"><span class="RichContent">he/him</span> </dd>
          </dl>
          <dl class="user-profile-field">
            <dt title="Location" class="user-profile-field-name"><span class="RichContent">Location</span></dt> 
            <dd title="Alabama, USA" class="user-profile-field-value"><span class="RichContent">Alabama, USA</span></dd>
          </dl>
          <dl class="user-profile-field">
            <dt title="Social" class="user-profile-field-name"><span class="RichContent"><span class="subhead">(ActivityPub compatible)</span> Social</span></dt> 
            <dd title="https://social.heathanderson.net/heath" class="user-profile-field-value"><span class="RichContent"><a href="https://social.heathanderson.net/heathanderson" rel="me">@heath@social.heathanderson.net</a></span></dd>
          </dl>
          <dl class="user-profile-field">
            <dt title=" Instagram" class="user-profile-field-name"><span class="RichContent"> Instagram</span></dt> 
            <dd title="https://www.instagram.com/anderson.heath/" class="user-profile-field-value"><span class="RichContent"><a href="https://www.instagram.com/anderson.heath/" rel="me">@anderson.heath</a></span></dd>
          </dl>
          <dl class="user-profile-field">
            <dt title="Twitter " class="user-profile-field-name"><span class="RichContent">Twitter </span></dt> 
            <dd title="https://twitter.com/heathAnderson" class="user-profile-field-value"><span class="RichContent"><a href="https://twitter.com/heathAnderson" rel="me">@heathanderson</a></span></dd>
          </dl>
          <dl class="user-profile-field">
            <dt title="Cohost" class="user-profile-field-name"><span class="RichContent">Cohost</span></dt> 
            <dd title="https://cohost.org/heathanderson" class="user-profile-field-value"><span class="RichContent"><a href="https://cohost.org/heathanderson" rel="me">@heathanderson</a></span></dd>
          </dl>
          <dl class="user-profile-field">
            <dt title="Flickr" class="user-profile-field-name"><span class="RichContent">Flickr</span></dt> 
            <dd title="https://www.flickr.com/photos/heathanderson/" class="user-profile-field-value"><span class="RichContent"><a href="https://www.flickr.com/photos/heathanderson/" rel="me">@heathanderson</a></span></dd>
          </dl>
          <dl class="user-profile-field">
            <dt title="Email" class="user-profile-field-name"><span class="RichContent"><span class="subhead">(masked, may change)</span> Email</span></dt> 
            <dd title="calm.frog9311@heathanderson.net" class="user-profile-field-value"><span class="RichContent"><a href="mailto:calm.frog9311@heathanderson.net">calm.frog9311@heathanderson.net</a></span></dd>
          </dl>
          
        </div>
      </div>

    <p>This website uses the following technologies/resources:
      <ul>
        <li><a href="http://www.w3.org/html/logo/">HTML5</a></li>
        <li><a href="http://www.w3.org/TR/CSS/">CSS3</a></li>
        <li><a href="http://www.w3.org/2005/Atom">Atom</a></li>
        <li><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a></li>
        <li><a href="https://purecss.io/">Pure.css</a></li>
        <li><a href="https://fontawesome.com/">Font Awesome</a></li>
        <li><a href="https://gitlab.com/idotj/mastodon-embed-feed-timeline">Mastodon timeline feed</a></li>
        <li><a href="https://umami.is/">umani</a></li>
        <li>Hosted by <a href="https://www.digitalocean.com/">Digital Ocean</a></li>
      </ul>
    </p>
    
  </div>
</div>
