---
layout: plain
title: Heath Anderson's Blog - Posting Stuff From Chattanooga, TN
---

{% for post in paginator.posts %}            
  {% assign current_date = post.date %}
  <div class="date">
    <span class="day">{{current_date  | date: "%d" }}</span> 
    <span class="month">{{current_date  | date: "%b" }}</span> 
    <span class="year">{{current_date  | date: "%Y" }}</span>
  </div>
   
   <div class="post">
     <h3><a href="{{ post.url }}" rel="bookmark" title="{{post.title}}">{{ post.title }}</a></h3>
     
     {{post.content}}
   </div>
   
   <div class="post-divide">&diams; &diams; &diams;</div>
{% endfor %}
		
<div id="pagination"> 
	{% if paginator.page == 1 %}
  <span class="disabled_pagination">Prev</span>
	{% elsif {{paginator.previous_page}} == 1%}
	<a href="/">Prev</a>
	{% else %}			
	<a href="/page{{paginator.previous_page}}">Prev</a>
	{% endif %}
	
	{% if paginator.page == paginator.total_pages %}
	<span class="disabled_pagination">Next</span>
	{% else %}
	<a href="/page{{paginator.next_page}}">Next</a>
	{% endif %}
</div>
		


