<div id="layout" class="pure-g">
    <div class="content pure-u-1">
        <h1>Privacy</h1>

        <h2>Overview</h2>
        <p>I self-host an instance of <a href="https://umami.is/">umami</a> to track basic information about visitors to this site.</p>

        <h2>Visitor data tracked</h2>
        <p>Umami does not collect any personally identifiable information and anonymizes all data collected. Users cannot be identified and are never tracked across websites. -<a href="https://umami.is/docs/faq">unami FAQ</a></p>

        <p>This site is hosted on <a href="https://www.digitalocean.com/legal">Digital Ocean </a>servers.</p>
    </div>
</div>