

<p><img class="shadow" src="/images/posts/borismus_business_card.png" alt="Boris Smus' Business Card" /> I came across the <a href="http://smus.com/minimal-business-card-design">business card</a> to the left via <a href="http://boingboing.net/2011/08/22/ultraminimalist-business-card.html">Boing Boing</a>. Even though the original post is over one year old, it inspired me to try to design a simple business card (although I suppose it is more of a calling card). Graphic design is one of my weaker skills so I like to practice when I can. My take on the concept is below: </p>

<img src="/images/posts/card.png" class="shadow" alt="My Business Card" />

<p>I kind of like it. I ordered twenty from <a href="http://www.zazzle.com/">Zazzle</a> for $7 just to see what they look like printed on actual paper.</p>