
<p>I just ate some weird Japanese candy called takoyaki-ya san. It is supposed to mimic the look of "octopus balls" (a Japanese dish that is decidedly not candy like). The candy, unlike the food on which it is based, is peach/strawberry flavored. Takoyaki-ya san embodies two concepts that seem a bit odd to me: candy that looks like real (non-candy) food and candy that you have to assemble yourself. Overall it was pretty ok. The texture was strange, but the flavor was fine.</p>

<p>I received this candy from <a href="http://www.candyjapan.com/">CandyJapan.com</a>--a neat little service that will send you some weird Japanese candy twice a month for $24. I don't know how long I'll keep my subscription, but I think I'll get at least a few months of entertainment out it</p> 

<iframe width="560" height="315" src="http://www.youtube.com/embed/m0BF4cNGLA0?wmode=opaque" frameborder="0" allowfullscreen></iframe>

