<meta charset="UTF-8">

<title>{{ page.title }}</title>

<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="/favicon.ico">

<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/superfish.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/css/typography.css" type="text/css" media="screen, projection">

<link rel="stylesheet" type="text/css" media="all" href="/css/syntax.css">
<link rel="stylesheet" type="text/css" media="all" href="/css/main.css">

<link rel="openid2.provider" href="https://open.login.yahooapis.com/openid/op/auth" />
<link rel="openid.server"    href="https://open.login.yahooapis.com/openid/op/auth" />

<link rel="openid2.local_id" href="http://www.flickr.com/photos/heathanderson" />
<link rel="openid.delegate"  href="http://www.flickr.com/photos/heathanderson" />

<link rel="alternate" type="application/rss+xml" title="Heath's Blog of Stuff Feed" href="http://www.heathanderson.net/atom.xml">

<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" />