<meta charset="UTF-8">

<title>{{ page.title }}</title>

<link rel="image_src" href="http://www.gravatar.com/avatar/81f0b3e0c5da01fbeb0ca3743662f070?s=100"/>
<meta property="og:image" content="http://www.gravatar.com/avatar/81f0b3e0c5da01fbeb0ca3743662f070?s=100"/>

<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<meta name="author" content="Heath Anderson">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="/favicon.ico">

<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/main.css">

<link rel="openid2.provider" href="https://open.login.yahooapis.com/openid/op/auth" />
<link rel="openid.server"    href="https://open.login.yahooapis.com/openid/op/auth" />

<link rel="openid2.local_id" href="http://www.flickr.com/photos/heathanderson" />
<link rel="openid.delegate"  href="http://www.flickr.com/photos/heathanderson" />

<link rel="alternate" type="application/rss+xml" title="Heath Anderson's Blog Feed" href="http://www.heathanderson.net/atom.xml">

<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" />
