<div class="footer">
      <div class="pure-menu pure-menu-horizontal">
      <ul>
          <li class="pure-menu-item"><a href="/privacy.html">Privacy</a></li>
          <li class="pure-menu-item"><a href="/about.html">About</a></li>
          <li class="pure-menu-item"><div><a href="/rss.xml">RSS</a></li>
          <li class="pure-menu-item"><a href="https://social.heathanderson.net">Social</a></li>
      </ul>

    </div>
    <div class="pure-menu pure-menu-horizontal">
      <ul>
          <li class="pure-menu-item"> <div><a href="http://www.w3.org/html/logo/"><img src="/images/html5-badge.png" alt="HTML5 Badge" class="badge"/></a></div></li>
      </ul>

    </div>
    <div class="pure-menu pure-menu-horizontal">
      <ul>
        <li class="pure-menu-item">Copyright &copy; Heath Anderson</li>
    </ul>
      
  </div>
</div>

<script src="/js/prism.js"></script>

