<div class="footer">
      <div class="pure-menu pure-menu-horizontal">
      <ul>
          <li class="pure-menu-item"><a href="/privacy.html">Privacy</a></li>
          <li class="pure-menu-item"><a href="/about.html">About</a></li>
          <li class="pure-menu-item"><div><a href="/rss.xml">RSS</a></li>
          <li class="pure-menu-item"><a href="https://social.heathanderson.net">Social</a></li>
      </ul>

    </div>
    <div class="pure-menu pure-menu-horizontal">
      <ul>
          <li class="pure-menu-item"> <div><a href="http://www.w3.org/html/logo/"><img src="/images/html5-badge.png" alt="HTML5 Badge" class="badge"/></a></div></li>
      </ul>

    </div>
    <div class="pure-menu pure-menu-horizontal">
      <ul>
          <li class="pure-menu-item">  <a title="Analytics" href="https://umami.is/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 428 389.11"><g data-name="Layer 2"><g data-name="Layer 4"><circle cx="214.15" cy="181" r="171" fill="#fff" stroke="#000" stroke-miterlimit="10" stroke-width="20"></circle><path d="M413 134.11H15.29a15 15 0 00-15 15v15.3C.12 168 0 171.52 0 175.11c0 118.19 95.81 214 214 214 116.4 0 211.1-92.94 213.93-208.67 0-.44.07-.88.07-1.33v-30a15 15 0 00-15-15z"></path></g></g></svg>
          </a></li>
      </ul>

    </div>
    <div class="pure-menu pure-menu-horizontal">
      <ul>
        <li class="pure-menu-item">Copyright &copy; Heath Anderson</li>
    </ul>
      
  </div>
</div>

<script src="/js/prism.js"></script>

