<div id="footer" class="small">
  Subscribe to the <a href="/atom.xml">RSS feed</a> or <a href="http://www.twitter.com/heathanderson">follow me on twitter</a><br/>
  Copyright &copy; Heath Anderson. 


<script type="text/javascript">function ss(form) {var q = window.encodeURIComponent(form["q"].value);clkb("wss", q);var url = "http://www.google.com/search?q=site:heathanderson.net ";url = url + q;window.location = url;return false;}</script><form onsubmit="return ss(this)" method="get"><input type="text" size="40" name="q" id="goog-wm-qt" placeholder="Search this site..."><input type="submit" value="Search" id="goog-wm-sb"></form>

</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setaccount', 'Ua-18390372-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>