<% var posts = Object.keys(public.posts._data);%>
<% var pos; %>

<div class="pagination"> 
    <% pos = posts.indexOf(path); %>
    <% if(posts[0] != path) { %>
        <% pos = posts.indexOf(path); %>
        <a class="pure-button pure-button-primary" href="/<%=posts[pos-1]%>">Newer</a>
    <% } else { %>
        <span class="pure-button pure-button-disabled">Newer</span>
    <% } %>
	
	<% if(posts[posts.length-1] != path){ %>
        <a class="pure-button pure-button-primary" href="/<%=posts[pos+1]%>">Older</a>
	<% } else { %>
        <span class="pure-button pure-button-disabled">Older</span>
	<% } %>
</div>