<DIV id="sidebar" class="grid_5">
<UL>
            	<LI class="widget">
        	<DIV id="twitter">
                <H2>Latest tweets</H2>
                <DIV id="twitter_bg" class="relative">
                    <IMG alt="Follow me on twitter" id="twitter_icon" src="/images/twitter_big.gif">
                    <DIV class="wrapper">
                    </DIV>
                </DIV>
            </DIV> <!-- end #twitter -->
        </LI>
                    <LI class="widget">
        	<H2>Photos</H2>
	            <div class="flickr">
                  <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=25375072%40N06"></script>
              </div>
	</LI>
	
	<LI id="tag_cloud-3" class="widget widget_tag_cloud">
	<H2 class="widgettitle">Tags</H2>
	{% include tags.html %}
	</LI>		
</UL>
</DIV> <!-- end #sidebar -->