<p>The fact that you can add a splash screen to your PhoneGap app on the Android platform is surprisingly hard to come across. After some searching I did find some answers. </p>

<ul>
  <li><a href="http://html5help.wordpress.com/2011/10/18/creating-splash-screen-start-up-screen-for-android-app-using-phonegap-jqtouch/">Adding the splash screen</a> - <a href="http://html5help.wordpress.com/">HTML5 Help</a> Blog
  <li><a href="https://groups.google.com/d/msg/phonegap/lu3p_QO3Nqg/xentHyA8Pz8J">Adding a delay so in case you want force your users to wait before they use your app</a> - Google Groups
</ul>

After finding those helpful posts my next question was:

<h4>What is this property thing I'm setting?</h4>

<p>Starting on line 100 of the <a href="https://github.com/cordova/cordova-android/blob/bf693627090ee136556a4e82ed7cb0a584ff278e/framework/src/org/apache/cordova/DroidGap.java">DroidGap.java</a> file there are some helpful comments:</p>

{% highlight javascript %}
   /* Properties: The application can be configured using the following properties:
   * 
   *    // Display a native loading dialog.  Format for value = "Title,Message".  
   *    // (String - default=null)
   *    super.setStringProperty("loadingDialog", "Wait,Loading Demo...");
   * 
   *    // Hide loadingDialog when page loaded instead of when deviceready event
   *    // occurs. (Boolean - default=false)
   *    super.setBooleanProperty("hideLoadingDialogOnPage", true);
   * 
   *    // Cause all links on web page to be loaded into existing web view, 
   *    // instead of being loaded into new browser. (Boolean - default=false)
   *    super.setBooleanProperty("loadInWebView", true);
   * 
   *    // Load a splash screen image from the resource drawable directory.
   *    // (Integer - default=0)
   *    super.setIntegerProperty("splashscreen", R.drawable.splash);
   * 
   *    // Time in msec to wait before triggering a timeout error when loading
   *    // with super.loadUrl().  (Integer - default=20000)
   *    super.setIntegerProperty("loadUrlTimeoutValue", 60000);
   * 
   *    // URL to load if there's an error loading specified URL with loadUrl().  
   *    // Should be a local URL starting with file://. (String - default=null)
   *    super.setStringProperty("errorUrl", "file:///android_asset/www/error.html");
   * 
   *    // Enable app to keep running in background. (Boolean - default=true)
   *    super.setBooleanProperty("keepRunning", false);
   */
{% endhighlight %}

<p>These properties can be set in your appname.java file:</p>

{% highlight java %}
  package com.example.appname;

  import android.app.Activity;
  import android.os.Bundle;
  import com.phonegap.*;

  public class appname extends DroidGap
  {
      @Override
      public void onCreate(Bundle savedInstanceState)
      {
          super.onCreate(savedInstanceState);
          super.setIntegerProperty("splashscreen", R.drawable.splash);
          super.loadUrl("file:///android_asset/www/index.html", 3000);
      }
  }
{% endhighlight %}