

<p>This is a very simple Ruby on Rails plugin that allows easy encryption of strings. For the sake of simplicity there no customization. The only cipher used is 'des-ede3-cbc' (Triple DES using Cipher Block Chaining) . See my <a href="http://blogofheath.com/2009/09/25/ruby-string-encryption/">post </a> on encrypting/decrypting a string with Ruby for more information. First install the plugin:</p>

{% highlight ruby %}
 script/plugin install git://github.com/handerson/string_encryption.git
{% endhighlight %}

<p>Next we need to add an encryption key as the constant @ENV['STRING_ENCRYPTION_KEY']@. To do this just run</p>

{% highlight ruby %}
  script/generate encryption_key
{% endhighlight %}

<p>or you could set </p>

{% highlight ruby %}
  ENV['STRING_ENCRYPTION_KEY'] = "somekey"
{% endhighlight %}

<p>where "somekey" is your key in environment.rb.</p>
  
<p>Now encryption/decryption is easy.</p>

<h3>Encryption:</h3>

{% highlight ruby %}
  "Test".encrypt  #=> "NDFkZTc5NDEyNTg1MzdiZPzBrxZz5aoN%0A"
{% endhighlight %}

<h3>Decryption:</h3>

{% highlight ruby %}
  "NDFkZTc5NDEyNTg1MzdiZPzBrxZz5aoN%0A".decrypt  #=> "Test"
{% endhighlight %}

<p>Code at Github:<br/>
<a href="http://github.com/handerson/string_encryption">http://github.com/handerson/string_encryption</a></p>