
<p><img src="/images/posts/roku_box.jpg" alt="Roku 2 Box" class="shadow" />One month ago I got a <a href="http://www.roku.com/">Roku 2</a>. This was my fourth Roku. I bought a first generation Roku in June 2009 and I loved it. I eventually bought one for every TV in my house. My third box was the second generation Roku 1. It was much smaller than the first gen, had a better remote, and also had a cool little fabric tag on it. The Roku 2 follows in the second gen Roku 1's footsteps by being even smaller, having an even better remote, and still having the little purple tag.</p>

<p>A new feature of the Roku 2 is the ability to play games. The only game that I've tried is the included Angry Birds. It's a good version of the game, and the motion controls are surprisingly good. But, for me, gaming on the Roku is just a nice secondary feature. I think I'll stick to either my Xbox, Playstation or Wii for the majority of game playing.</p>

<img src="/images/posts/roku_in_box.jpg" alt="The Roku 2 is small" class="shadow" />

<p>The best thing about the Roku is the number of 'channels' available.  There is one for <a href="http://www.netflix.com">Netflix</a>, <a href="http://www.amazon.com/Instant-Video/b/ref=sa_menu_aiv_vid0?ie=UTF8&node=2858778011">Amazon Instant Video</a>, <a href="http://www.hulu.com">Hulu</a>, and <a href="http://www.roku.com/roku-channel-store">many more</a>. The first generation boxes seem to have some trouble with channels like Hulu that sport a flashy interface. The Roku 2 doesn't have this problem. This is definitely the best Roku yet.</p>


