<h4>Text Editors</h4>

<h5><a href="http://www.sublimetext.com/2">Sublime Text 2</a> (currently free; will be $59)</h5> 

<p>I've been using this as my main text editor (replacing TextMate). It uses TextMate bundles and themes. Sublime runs on Mac OS X, Linux and Windows. Also checkout the Vintage mode if Vim intrigues you</p>


<h5><a href="http://itunes.apple.com/us/app/tincta/id448340648?mt=12">Tincta</a> (free)</h5> 
<p>A really simple code editor with syntax highlighting.</p>



<h4>Graphics/Design</h4>

<h5><a href="http://itunes.apple.com/us/app/pixelmator/id407963104?mt=12">Pixelmator</a> ($29.99)</h5> 
<p>I love this app. Does almost everything that Photoshop does. It actually will open Photoshop files and does a pretty good (but not perfect) job with them.</p>


<h5><a href="http://fructivity.com/">Color Picker Pro</a> (free)</h5> 
<p>A simple, intuitive app that makes sampling any color on your screen super easy.</p> 

<h5><a href="http://seashore.sourceforge.net/The_Seashore_Project/About.html">SeaShore</a> (free)</h5> 
<p>It is literally a prettied-up, simplified version of GIMP for Mac OS X.</p>


<h4>Utilities</h4>

<h5><a href="http://mac.github.com/">GitHub for Mac</a> (free)</h5>
<p>A very nice looking Git client.</p>

<h5><a href="http://itunes.apple.com/us/app/liya/id455484422?mt=12">Liya</a> (free) </h5>
<p>A simple GUI for MySQL, SQLite, and PostgreSQL</p>


<h5><a href="http://itunes.apple.com/us/app/alfred/id405843582?mt=12">Alfed</a> (free)</h5>
<p>This is basically a better Spotlight. I have it mapped to Command-Space instead of Spotlight.</p>


<h5><a href="http://itunes.apple.com/us/app/pandabar-pandora-radio-player/id459351174?mt=12">PandaBar</a> ($4.99)</h5>
<p>An awesome Pandora player.</p>


<h5><a href="http://itunes.apple.com/us/app/divvy/id413857545?mt=12">Divvy</a> ($13.99)</h5>
<p>Manage your windows. Definitely set some global shortcuts. Mine are: &#8997;-&#8984;-f (fullscreen), &#8997;-&#8984;-&#8592; (left half of the screen), &#8997;-&#8984;-&#8594; (right half of the screen), &#8997;-&#8984;-&#8593; (top half of the screen), &#8997;-&#8984;-&#8595; (bottom half of the screen)</p>
