@font-face {
  font-family: "inconsolatamedium";
  src: url(/fonts/inconsolata-webfont.eot) format('embedded-opentype'), url(/fonts/inconsolata-webfont.woff) format('woff'), url(/fonts/inconsolata-webfont.ttf) format('truetype'), url(/fonts/inconsolata-webfont.svg) format('svg')
}

@font-face {
  font-family: "inconsolatamedium";
  src: url(/fonts/inconsolata-webfont.eot) format('embedded-opentype'), url(/fonts/inconsolata-webfont.woff) format('woff'), url(/fonts/inconsolata-webfont.ttf) format('truetype'), url(/fonts/inconsolata-webfont.svg) format('svg')
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-size: 1.2em;
}

a {
  text-decoration: underline;
  color: #4a5c65;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a.pure-menu-heading:hover,
a.pure-menu-heading:focus,
a.pure-menu-heading:hover .subhead,
a.pure-menu-heading:focus .subhead{
  text-decoration: none;
  color:#eee;
  background-color: #2A3439;
}

.icon a:hover svg , .icon a:focus svg {
  margin-top: 1px;
  filter: drop-shadow(1px 1px 1px rgb(255 255 255 / 0.2));
}

h1, h2, h3, h4, h5 {
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: 1px 1px 1px #2A3439;
  text-decoration: none;
}

h1 a, h2 a, h3 a{
  text-decoration: none;
}


h3 {
  font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  box-shadow: -1px 5px 5px black;
}

.pure-menu-heading{
  font-family: 'inconsolatamedium';
  color:#fff;
  text-shadow: 1px 1px 1px #000;
  text-transform: none;
  box-shadow: 1px 1px 1px black, 5px 5px #00BAE8, 2px 1px 5px black;
}

.pure-menu-heading .subhead {
  color: #eee;
  border-bottom: 1px groove #00BAE8;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  
  text-transform: none;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid #4a5c65;
  text-decoration: none;
}

.content-subhead {
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-shadow: none;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 2em;
}
.post .post-columns .post-content{
  padding: 0 1em;
  text-align: center;
}
.post .post-columns img{
  max-width: 100%;
  margin: 1em auto 0;
  float: none;
}

.post .post-columns .caption{
  text-align: center;
  display: block;
  clear: both;
  padding: 0 1em 1em;
}

.post p img {
  float: left;
  margin: 1em;
  padding: 0;
  max-width: 300px;
}
.post p img.right {
  float: right;
}
img.shadow {
  -webkit-box-shadow: 0px 0px 5px #333;
  box-shadow: 0px 0px 5px #333;
}
.post-title {
  font-size: 2em;
  color: #7f8588;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

footer{
  background-color: #BDEDF9;
  box-shadow: 0 2px 5px black inset;
}

.footer {
  padding: 1em 0;
  font-size: 80%;
}
.footer a {
  color: black;
  padding: 0 1em;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

@media (min-width: 48em) {
  .content {
      padding: 2em 5em 0;
      margin: 0 4em;
  }

  .header {
      text-align: right;
  }

  .footer {
      text-align: center;
  }
}
img.badge {
  width: 50%;
}

.icon {
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.5em;
}
.icon svg {
  filter: drop-shadow(1px 2px 2px rgb(255 255 255 / 0.2));
}
.icon svg path{
  fill:#fff;
}
.pure-menu-list{
  padding: 1em 1em;
}

.home-menu {
  text-align: left;
}
.home-menu {
  background: #2A3439;
}
.home-menu ul {
  float: right;
}
.subhead {
  color: #eee;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  
  text-transform: none;
}

.pagination{
 text-align: center;
 margin-bottom: 2rem;
}
blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #4a5c65;
}
blockquote.twitter-tweet {
  position: relative;
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: rgb(29, 155, 240);
  background-color: rgba(29, 155, 240, 0.2);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

.pure-button{
  border-radius: 5px;
}
.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #4a5c65;
  color:#fff
}

.pure-button-outline, .pure-button-selected, a.pure-button-outline, a.pure-button-selected {
  border: 0.1em solid #4a5c65;
  background: none;
  color:#4a5c65
}
.pure-menu a{
  text-decoration: none;
}
.mt-container, .photostream-container, .posts-container {
  margin: 0 auto;
}
.mt-container, .posts-container{
  padding: 2rem 1rem;
}
.photostream-container{
  text-align: center;
  padding: 2rem 0;
}

i.icon{
  display:inline-block;
  text-decoration:none;
  width:1em;
  height:1em;
 }
i.icon-hihi:before{
  content: '';
  background:url('/images/hihi.png');
  background-size:cover;
  position:absolute;
  width:1.8em;
  height:1.8em;

  margin-top:-0.3em;
  margin-left:-0.5em;
}

.caption{
  display: block;
  clear: both;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: none;
}

.center{

  text-align: center;
}