@import "base";
// http://snook.ca/archives/html_and_css/css-text-rotation

.date {  
  position: absolute;
  margin-left: -90px;
  padding: 30px 5px 0px;
  font-family: inconsolatamedium, "Courier New", monospace;
  color: $page-background;
  background-color: $bold-accent;
  @include text-shadow;
  @include single-box-shadow($default-box-shadow-color, $default-box-shadow-h-offset, $default-box-shadow-v-offset, $default-box-shadow-blur, $default-box-shadow-spread, true);

  .month {
    text-transform: uppercase;
    font-size: 30px;
  }
  .day {
    font-size: 33px;
    line-height: 35px;
    position: absolute;
    left: 5px;
    top: 0px;
  }
  .year { 
    display: block;
    position: absolute;
    right: -2px;
    top: 5px;
    font-size: 11px;
    @include rotate(-90deg);      
  }
}