@import "base";
@import "compass";
@import "susy";

.container {
  // container acts as a container for our grid.
  @include container;
}

header, footer{
  background-color: $bold-accent;
  margin: -8px;

  @include text-shadow;
  
  @include single-box-shadow($default-box-shadow-color, $default-box-shadow-h-offset, $default-box-shadow-v-offset, $default-box-shadow-blur, $default-box-shadow-spread, true);

  color: $page-background;

  a {
    color: $page-background;
    text-decoration: underline;
  }
}

header {
  height: 23px;
  overflow: hidden;
  margin-bottom: 10px;

  @include transition-property(height);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease);
  @include transition-delay(0.1s);

  &:hover{
    height: 50px;
  }
}

footer{
  margin-top: 50px;
  text-align: center;

  #footer{
    padding:10px;
  }

  div{
    padding: 5px 0;
  }
}

.main {
  margin-top: 0.6em;
}

#logo img{
  height: 50px;
}

img.shadow{
  @include single-box-shadow;
}

img {
  max-width: 600px;
}

/* Remove annoying border on linked images. */
a img { border: none; }

.post-divide{
  text-align: center;
  margin: 25px 0px;
  color: $light-accent;

  img{
    height: 10px;
  }
}

blockquote{
   margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35px;
  padding-left: 20px;
  border-left: 3px solid $bold-accent;
}

#footer form input{
  color: $bold-accent;
}