.branding{
  @include span-columns(4);

  a{
    font-family: 'inconsolatamedium';
    text-decoration: none;
    display: block;
  }
}

#categories_menu{
  @include span-columns(4 omega);
  padding-top: 10px;
}

#categories_menu ul{
  @include horizontal-list-container;
  float: right;
}

#categories_menu ul li{
  @include horizontal-list-item;
}

.aboutIcon img{
  height: 32px;
}
