@import "base";

.post {
  @include clearfix;

  h1 {
    @include text-shadow(none);
    @include letterpress($bold-accent);
  }

  p img {
    max-width: 300px;
  }

  p img       { float: left; margin: 0.5em 0.8125em 0.8125em 0; padding: 0; }
  p img.right { float: right; margin: 0.5em  0 0.8125em 0.8125em }
}