@import "base";

h1, h2, h3, h4, h5{
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.2em;
  @include text-shadow(1px 1px 1px darken($light-accent, 20%));
  color: $dark-accent; 

  a{
    @include single-text-shadow(none);
    color: $bold-accent;
  }
}

h1, h2, h3 {
  a{
    @include letterpress($bold-accent);
  }
}

h4, h5 {
  @include text-shadow(none);

}

p {
  font-family: "Palatino", "Palatino Linotype", "Book Antiqua", "Georgia", "serif";
}

pre, tt, code, kbd, samp {
  font-family: 'inconsolatamedium';
  font-size: 0.9em;
}

a{
  color: $comp-accent;
  text-decoration: none;
}

.small {
  font-size: 0.8em;
}