

<div class="post-divide"><img src="/images/post-divider.png"/> <img src="/images/post-divider.png"/> <img src="/images/post-divider.png"/></div>

<% for(var slug in public.posts._data){ %>
  <h3><a href="/<%= slug %>" rel="bookmark" title="<%= public.posts._data[slug].title %>"><%= public.posts._data[slug].title %></a></h3>
  <%= "../"+ slug + "/index" %>
<% }; %>


